body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f5f7fa;
}

header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:30px;
}

.hero,
.about,
.career-select,
#details{
    padding:30px;
}

.features{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    padding:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    text-align:center;
}

#career{
    padding:10px;
    width:250px;
}

#details{
    display:none;
    background:white;
    margin:20px;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    background:#1e3a8a;
    color:white;
}
